{{#menu-panel visible=visible onVisible="showedSearch" onHidden="cancelHighlight" maxWidth="500"}}

  {{#each content.resultTypes as |resultType|}}
    <div class="no-results">
      {{#if resultType.moreUrl}}
        <a href={{resultType.moreUrl}} class="filter">{{i18n "show_more"}} {{fa-icon "chevron-down"}}</a>
      {{/if}}
      {{#if resultType.more}}
        <a href class="filter filter-type" {{action "moreOfType" resultType.type bubbles=false}}>{{i18n "show_more"}} {{fa-icon "chevron-down"}}</a>
      {{/if}}
    </div>
  {{/each}}

{{/menu-panel}}
